
*.suo
QL_HocSinh_GiaoVien_THPT/.vs/QL_HocSinh_GiaoVien_THPT/v14/.suo
QL_HocSinh_GiaoVien_THPT/.vs/QL_HocSinh_GiaoVien_THPT/v14/.suo
QL_HocSinh_GiaoVien_THPT/QL_HocSinh_GiaoVien_THPT.v12.suo
QL_HocSinh_GiaoVien_THPT/.vs/QL_HocSinh_GiaoVien_THPT/v14/.suo
QL_HocSinh_GiaoVien_THPT/QL_HocSinh_GiaoVien_THPT.v12.suo
QL_HocSinh_GiaoVien_THPT/QL_HocSinh_GiaoVien_THPT/bin/Debug/QL_HocSinh_GiaoVien_THPT.exe
*.exe
QL_HocSinh_GiaoVien_THPT/.vs/QL_HocSinh_GiaoVien_THPT/v14/.suo
